[submodule "linux/linux"]
	path = linux/linux
	url = https://github.com/handong32/linux/
	branch = cpuidle_changes
[submodule "ebbrt/EbbRT"]
	path = ebbrt/EbbRT
	url = https://github.com/handong32/EbbRT
	branch = baremetalNIC
[submodule "scripts/netpipe/ebbrt/EbbRT-netpipe"]
	path = scripts/netpipe/ebbrt/EbbRT-netpipe
	url = https://github.com/handong32/EbbRT-netpipe
	branch = master
[submodule "scripts/node/ebbrt/EbbRT-node"]
	path = scripts/node/ebbrt/EbbRT-node
	url = git@github.com:handong32/EbbRT-node.git
	branch = master
